body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
  background-image: url('./background.jpg');
  background-size: cover;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
}

.search{
  width: 20%;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.9);
  background-color: #a1f0eb;
  color: black;
  font-size: 15px;
}

.search:focus {
  background-color: #c0ebe8;
  transition: 1s;
}

.search:hover{
  width: 25%;
  transition: 0.5s
}

.search:hover::after{
  width: 20%;
  transition: 0.5s;
}

.location-place{
  margin-top: 30px;
  font-size: 30px;
  color: white;
}

.suhu-place{
  margin-top: 75px;
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.weather-place{
  margin-top: 100px;
  font-size: 70px;
  color: white;
}

.weather{
  text-shadow: 0 20px 15px rgba(0, 0, 0, 1);
  text-transform: capitalize;
}

.city-icon{
  width: 8%;
  margin-top: -50px;
}
